/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* :root{
    --section-gap: 50px;
} */

/* -----------------------
nav-bar styles 
--------------------------*/
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 8%;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style-type: none;
    padding-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}


/* -----------------------
Section-1 styles
--------------------------*/
.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.sec-1-item-1 {
    max-width: 90%;
}

.item-1-btn {
    background-color: #E02C6E;
    padding: 5px 10px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
}

.sec-1-item-2 {
    max-width: 90%;
}

.sec-1-item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-2-img-1 {
    display: grid;
    width: 200px;
}



/* -----------------------
Section-2 styles
--------------------------*/
.s2-h2 {
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.pc-img {
    width: 300px;
    height: 256px;
}

.pc-h3,
.pc-h5,
.pc-p,
.pc-star {
    font-weight: 500;
}

.pc-h5{
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.pc-h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.fa-star{
    color: orange;
}



/* FOR MOBILE */
@media (max-width: 425px) {

    .pc-h3,
    .pc-h5,
    .pc-p,
    .pc-star {
        text-align: center;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar {
        display: block;
        text-align: center;
    }

    .section-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec-1-item-2 {
        grid-row: 1;
    }

    .sec-1-item-1 {
        margin-top: -50px;
    }

    .div-btn {
        display: flex;
        justify-content: center;
    }

    .section-1 {
        margin-left: 2%;
        margin-right: 2%;
    }
}


/* FOR TABLET */
@media (max-width: 768px) {
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}